<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="The Making Of Intelligens. Natural. Artificial. Collective.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://nu-center-for-design.github.io/constructing-la-biennale/">
<meta property="og:image" content="https://nu-center-for-design.github.io/constructing-la-biennale/images/thumbnail.png">
<meta property="og:description" content="A project by Politecnico di Torino / Dipartimento di Architettura e Design and Northeastern University Developed for INTELLIGENS. NATURAL. ARTIFICIAL. COLLECTIVE. 19th International Architecture Exhibition - La Biennale di Venezia, 10 May - 23 November 2025 at the Giardini della Biennale.">
<meta property="og:site_name" content="The Making Of Intelligens. Natural. Artificial. Collective.">
<link rel="icon" href="{{ '/images/favicon/favicon.ico' | url }}" sizes="32x32">
<link rel="icon" href="{{ '/images/favicon/favicon.ico' | url }}" sizes="16x16">
<link rel="apple-touch-icon" href="{{ '/images/favicon/apple-touch-icon.png' | url }}">
<link rel="manifest" href="{{ '/images/favicon/site.webmanifest' | url }}">
