@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Archivo-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-LightItalic.woff2') format('woff2'),
        url('fonts/Archivo-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-SemiBold.woff2') format('woff2'),
        url('fonts/Archivo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-Black.woff2') format('woff2'),
        url('fonts/Archivo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-Light.woff2') format('woff2'),
        url('fonts/Archivo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

