@use 'variables' as *;

.section.pagenav {
    display: flex;
    justify-content: space-between;
    margin: 4em auto;
    max-width: var(--max-width);
}

.button {
    display: flex;
    align-items: center;
    padding: 0 1em;
    border-radius: 1.5em;
    height: 3em;
    text-decoration: none;
    width: fit-content;
}

.button:hover {
    outline: 1px solid currentColor;
}

.button.prev svg {
    display: block;
    width: 1em;
    height: 1em;
    transform: scale(1.2);
    margin-right: 0.25em;
}

.button.next svg {
    display: block;
    width: 1em;
    height: 1em;
    transform: scale(1.2);
    margin-left: 0.25em;
}

@media screen and (max-width: $mobile-width) {
    .section.pagenav span {
        display: none;
        background-color: lime;
    }
    .button.next svg,
    .button.prev svg {
        transform: scale(2);
    }
    .section.pagenav {
      flex-direction: row;
      font-size: 0.9em;
    }
}