<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
{% include "meta.njk" %}
<title>{{title}}</title>
<link rel="stylesheet" href="{{ '/styles/main.css' | url}}">
<style>
</style>
</head>
<body class="">
<h1 class="pagetitle">{{ title }}</h1>    
{% include "navbar.njk" %}
<div class="pagebody">
  {{ content | safe }}
</div>
<script src="{{ '/scripts/scripts.js' | url }}"></script>
</body>
</html>