---
title: "Constructing la Biennale"
layout: "feature.njk"

---


<!-- intro ================================== -->

<section class="section full">
    <div class="content">
        <img class="constucting-title" src="{{ '/images/contrucing-la-biennale-title.svg' | url }}" alt="Constructing la Biennale">
        <p class="big" lang="it">Che cosa da’ forma a una&nbsp;biennale?</p>
        <p class="big" lang="en">What shapes a&nbsp;biennale?</p> 
        <p class="big" lang="it">Chi sono gli attori dietro le&nbsp;quinte?</p> 
        <p class="big" lang="en">Who are the actors behind the&nbsp;scenes?</p>
        <p class="big" lang="it">Quali sono gli oggetti, gli strumenti, le prospettive in&nbsp;gioco?</p>
        <p class="big" lang="en">What objects, tools, and perspectives are at&nbsp;play?</p>
    </div>
</section>


<!-- photos ================================= -->

<section class="section two-up gapless">
    <div class="content">
        <figure>
            <img src="{{ '/images/Photo-by-Andrea-Avezzu_AVZ-0381.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Andrea Avezzù (https://www.exibart.com)</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <img src="{{ '/images/20250320_Axonometry.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
</section>


<!-- diagram ================================ -->

<section class="section one-up gapless">
    <div class="content">
        <div class="constructing-diagram">
            <img src="{{ '/images/constructing-diagram.png' | url }}" alt="">
            <a class="marker a" href="{{ '/linking-legacies/' | url }}">A
                <span class="detail">Linking Legacies</span>
            </a>
            <a class="marker b" href="{{ '/curatorial-synapses/' | url }}">B
                <span class="detail">Curatorial Synapses</span>
            </a>
            <a class="marker c" href="{{ '/exhibiting-in-practice/' | url }}">C
                <span class="detail">Exhibiting in Practice</span>
            </a>
            <a class="marker d" href="{{ '/the-making-of-intelligens/' | url }}">D
                <span class="detail">The Making Of Intelligens</span>
            </a>
        </div>
    </div>
</section>


<!-- photo ================================== -->

<section class="section one-up gapless">
    <div class="content">
        <figure class="figure-bordered">
            <img src="{{ '/images/Constructing_La_Biennale_Fig6.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
</section>


<!-- pagenav ================================ -->

<section class="section pagenav">
    <a class="button prev" href="{{ '/' | url }}">{% include "iconprev.njk" %} <span>Introduction</span></a>
    <a class="button next" href="{{ '/linking-legacies/' | url }}"><span>Linking Legacies</span> {% include "iconnext.njk" %}</a>
</section>