---
title: "Exhibiting in Practice"
prefix: "C"
layout: "feature.njk"

---

<!-- title ================================== -->

<section class="section one-up">
<div class="content">
    <h2 class="subtitle">A Glimpse into the Materiality of a Work in&nbsp;Progress</h2>
</div>
</section>


<!-- top photos ============================= -->

<section class="section two-up gapless">
<div class="content">
    <figure>
        <img src="{{ '/images/20250415170626.jpg' | url }}" alt="">
        <div class="credit">Image Credit: Marco Santini, Biennale 2025 Curator’s Design Assistant</div>
    </figure>
    <figure>
        <img src="{{ '/images/20250415170556.jpg' | url }}" alt="">
        <div class="credit">Image Credit: Marco Santini, Biennale 2025 Curator’s Design Assistant</div>
    </figure>
</div>
<div class="content">
    <figure>
        <img src="{{ '/images/20250415172132.jpg' | url }}" alt="">
        <div class="credit">Image Credit: Carlo Ratti Curatorial Team</div>
    </figure>
</div>
</section>

<!-- caption ================================ -->

<section class="section one-up">
    <div class="content">
        <p lang="it">IT / Quattro nicchie offrono una prospettiva sulla matericità della pratica curatoriale e della realizzazione di alcuni dei progetti partecipanti alla mostra - taccuini da disegno, planimetrie, schizzi, modelli, prototipi: il processo creativo è rappresentato attraverso gli oggetti fisici che lo popolano.</p>
        <p lang="en">EN / Four niches host displays of objects from the creative process including sketchbooks, plans, sketches, models, and prototypes. They offer a glimpse into the materiality of the curatorial practice and the production of some of the projects featured in the exhibition.</p>
    </div>
</section>

<!-- bottom photos ========================== -->

<section class="section two-up gapless">
    <div class="content">
        <figure>
            <img src="{{ '/images/40X26_Gong1.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <img src="{{ '/images/28X18_Foster.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <img src="{{ '/images/25X18_Pistoletto2.jpg' | url }}" alt="">           
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <img src="{{ '/images/18X21_Kat2.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
</section>


<!-- pagenav ================================ -->

<section class="section pagenav">
    <a class="button prev" href="{{ '/curatorial-synapses/' | url }}">{% include "iconprev.njk" %} <span>Curatorial Synapses</span></a>
    <a class="button next" href="{{ '/the-making-of-intelligens/' | url }}"><span>The Making Of Intelligens</span> {% include "iconnext.njk" %}</a>
</section>


