---
title: "Introduction"
layout: "default.njk"

---

<div class="intro">
    <div class="titlegraphic">
        <img src="{{ 'images/constructing-la-biennale.svg' | url}}" alt="Constructing la Biennale">
    </div>
    <p>A project by <strong>Politecnico di Torino / Dipartimento di Architettura e Design</strong> and <strong>Northeastern&nbsp;University</strong></p>
    <p>Developed for INTELLIGENS. NATURAL. ARTIFICIAL. COLLECTIVE. <br> 
    <strong>19th International Architecture Exhibition - La Biennale di Venezia</strong></p>
    <p>10 May – 23 November 2025 at the Giardini della Biennale</p>
    <p><a class="document-link" href="{{ 'downloads/Contrucing_la_Biennale_LR.pdf' | url }}">{% include "document-icon.njk" %} Download the PDF booklet</a></p>
</div>

<section class="section one-up">
    <div class="content">
        <p lang="it">IT / Le Biennali sono luoghi fondamentali per il dibattito architettonico, piattaforme di discussione, di critica e di apertura globale. Spesso, tuttavia, le modalità con cui le idee si evolvono all’interno delle loro complesse ecologie sono ignorate dalle narrazioni dominanti. Questo paradosso evidenzia la difficoltà di comprendere le Biennali da una duplice prospettiva: come fenomeni culturali, e come insiemi di reti e relazioni. L’installazione “Constructing la Biennale” affronta questa sfida svelando
        i “dietro le quinte” dell’evento.</p>
        <p lang="it">Una faux façade davanti al cantiere del Padiglione Centrale, in ristrutturazione, offre un’interpretazione critica dell’evoluzione storica della Biennale Architettura e dell’articolata curatela dell’edizione 2025. Questo sforzo unisce progettazione architettonica, network science, information design, data visualization ed etnografia dell’architettura, esplorando la mostra come un oggetto stratificato e ponendo una domanda centrale: che cosa dà forma a una Biennale?</p>
        <p lang="it">Attraverso la digitalizzazione e l’analisi di dati relativi alla composizione dei team di progetto e ai temi affrontati, l’installazione visualizza la Biennale Architettura in una prospettiva storica, dal 1975 a oggi. Una rete dinamica di attori, opere e idee ne rivela il significato culturale in continua evoluzione. Parallelamente, il processo curatoriale della Biennale Architettura 2025 è esplorato come impresa collettiva, restituita impiegando flussi di dati, mappe, interviste, oggetti fisici e video. Il progetto cattura la complessità socio-materiale dietro la mostra, tra mediazioni e sforzi tecnici spesso invisibili. Questi affondi rivelano l’interazione tra reti globali, contesti locali e diplomazie interdisciplinari, che rimangono spesso nascoste dietro lo spettacolo.</p>
        <p lang="it">“Constructing la Biennale” ridefinisce la mostra come un sistema aperto e dinamico, esplorandola attraverso lenti stratificate, storiche e socio-culturali, offrendo una comprensione più profonda della sua agency collettiva e della sua identità in trasformazione.</p>
        <p lang="en">EN / Biennales are crucial to architectural discourse, acting as platforms for debate, critique, and global exposure. Yet the ways in which ideas evolve within their complex ecologies are often overlooked and excluded from dominant narratives. This paradox highlights the challenge of understanding Biennales from a twofold perspective: as both cultural phenomena and a set of relational networks. The installation “Constructing la Biennale” addresses this challenge by revealing the “behind the scenes” of the event.</p>
        <p lang="en">Positioned in front of the Padiglione Centrale, currently under renovation, a layered faux-façade offers a critical interpretation of the historical evolution of la Biennale Architettura and the intricate curatorship of the 2025 edition. This effort brings together architectural design, network science, information design, data visualization, and ethnography of architecture—exploring the exhibition as a layered object and unveiling the question: what shapes a Biennale?</p>
        <p lang="en">By digitizing and analyzing data—such as team sizes and thematic focuses—the project visualizes la Biennale Architettura from a historical perspective, spanning from 1975 to today. A dynamic network of actors, works, and ideas reveals its evolving cultural significance. In parallel, the curatorial process of the 2025 edition is explored as a collaborative endeavor. By shadowing the curatorial team and employing a diverse set of tools—data flows, maps, interviews, physical objects, and videos—the project captures the socio-material complexity behind the exhibition, including its mediations and unseen technical efforts. These insights uncover the interplay of global networks, local contexts, and interdisciplinary diplomacy that often remain hidden behind the spectacle.</p>
        <p lang="en">“Constructing la Biennale” reframes the exhibition as an open and dynamic ecology of relations, examining it through layered historical and socio-cultural lenses, and offering a deeper understanding of its collective agency and evolving identity.</p>
    </div>
</section>


<!-- pagenav ================================= -->

<section class="section pagenav">
    <div class="spacer"></div>
    <a class="button next" href="{{ '/constructing-la-biennale/' | url }}"><span>Constructing la Biennale</span> {% include "iconnext.njk" %}</a>
</section>

