---
title: "The Installation"
layout: "feature.njk"

---


<!-- title ================================== -->

<section class="section one-up">
    <div class="content">
        <h2 class="subtitle">The Installation</h2>
    </div>
</section>


<!-- photos ================================= -->

<section class="section two-up">
    <div class="content">
        <figure class="figure-bordered">
            <img src="{{ '/images/DSC01085.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure class="figure-bordered">
            <img src="{{ '/images/DSC00957.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure class="figure-bordered">
            <img src="{{ '/images/DSC00966.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure class="figure-bordered">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        <img src="{{ '/images/DSC00958.jpg' | url }}" alt="">
        </figure>
    </div>
</section>


<!-- photos ================================= -->

<section class="section two-up">
    <div class="content">
        <figure>
            <img src="{{ '/images/DSC00974.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <img src="{{ '/images/DSC00962.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <img src="{{ '/images/DSC00948.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        <img src="{{ '/images/DSC00960.jpg' | url }}" alt="">
        </figure>
    </div>
</section>


<!-- photos ================================= -->

<section class="section two-up">
    <div class="content">
        <figure>
            <img src="{{ '/images/DSC00923.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <img src="{{ '/images/DSC01055.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <img src="{{ '/images/DSC01079.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <div class="credit">Image Credit: Constructing la Biennale team</div>
        <img src="{{ '/images/DSC00941.jpg' | url }}" alt="">
        </figure>
    </div>
</section>


<!-- pagenav ================================ -->

<section class="section pagenav">
  <a class="button prev" href="{{ '/the-making-of-intelligens/' | url }}">{% include "iconprev.njk" %} <span>The Making Of Intelligens</span></a>
  <a class="button next" href="{{ '/team' | url }}"><span>Team</span> {% include "iconnext.njk" %}</a>
</section>