---
title: "The Making Of <em>Intelli<u>gens</u>. Natural. Artificial. Collective.</em>"
prefix: "D"
layout: "feature.njk"

---


<!-- title ================================== -->

<section class="section one-up">
    <div class="content">
        <h2 class="subtitle">An Ethnographic Film</h2>
    </div>
</section>


<!-- video ================================= -->

<section class="" style="margin-top: 4em; margin-bottom: 4em">
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; border-radius: 12px; box-shadow: 0 4px 16px rgba(0,0,0,0.2);">
        <iframe 
        src="https://www.youtube.com/embed/HWmfOgWgJxc?si=FgExbWo9HwJJq2Tp" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"></iframe>
        </iframe>
    </div>
</section>


<!-- photos ================================= -->

<section class="section one-up gapless collapse-margin">
    <section class="section two-up gapless">
        <div class="content">
            <figure>
                <img src="{{ '/images/vlcsnap-2025-02-13-16h33m18s324.jpg' | url }}" alt="">
                <div class="credit">Image Credit: Constructing la Biennale team</div>
            </figure>
        </div>
        <div class="content">
            <figure>
                <img src="{{ '/images/vlcsnap-2025-02-13-17h06m52s469.jpg' | url }}" alt="">
                <div class="credit">Image Credit: Constructing la Biennale team</div>
            </figure>
        </div>
    </section>
    <section class="section three-up gapless">
        <div class="content">
            <figure>
                <img src="{{ '/images/vlcsnap-2025-02-13-17h12m27s942.jpg' | url }}" alt="">
                <div class="credit">Image Credit: Constructing la Biennale team</div>
            </figure>
        </div>
        <div class="content">
            <figure>
                <img src="{{ '/images/image005.jpg' | url }}" alt="">
                <div class="credit">Image Credit: Constructing la Biennale team</div>
            </figure>
        </div>
        <div class="content">
            <figure>
                <img src="{{ '/images/vlcsnap-2025-02-13-17h01m11s945.jpg' | url }}" alt="">
                <div class="credit">Image Credit: Constructing la Biennale team
                    
                </div>
            </figure>
        </div>
    </section>
</section>


<!-- caption ================================ -->

<section class="section one-up">
    <div class="content">
        <p lang="it">IT /Due schermi mostrano il fronte e il retro di un film etnografico, che documenta il viaggio della mostra: emergono i meccanismi del processo curatoriale, attraverso le voci dei tanti attori coinvolti.</p>
        <p lang="en">EN /  Two mirroring screens display the front and back end of an ethnographic film that documents the journey of the exhibition and showcases key moments and mechanisms of the curatorial and production process of the Biennale through the voices of various actors.</p>
    </div>
</section>


<!-- photos ================================= -->

<section class="section two-up gapless">
    <div class="content">
        <figure>
            <img src="{{ '/images/IMG_7479.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Gong Dong</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <img src="{{ '/images/vlcsnap-2025-01-16-16h03m29s746.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Norman Foster</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <img src="{{ '/images/vlcsnap-2025-04-19-16h00m05s634.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Fondazione Pistoletto Cittadellarte</div>
        </figure>
    </div>
    <div class="content">
        <figure>
            <img src="{{ '/images/vlcsnap-2025-04-19-16h13m01s007.jpg' | url }}" alt="">
            <div class="credit">Image Credit: Kateryna and Anastasiya Lopatiuk</div>
        </figure>
    </div>
</section>


<!-- pagenav ================================ -->

<section class="section pagenav">
    <a class="button prev" href="{{ '/exhibiting-in-practice/' | url }}">{% include "iconprev.njk" %}
         <span>Exhibiting in Practice</span></a>
    <a class="button next" href="{{ '/team/' | url }}"><span>Team</span> {% include "iconnext.njk" %}</a>
</section>

